/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
p {
  margin-bottom: 0;
}

.title {
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 2px !important;
  color: #00acc1;
  font-size: 48px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
    margin-bottom: 40px !important;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

body {
  font-size: 1.125rem !important;
  background: url("/public/images/bg-content.png") repeat;
  background-size: contain;
}

header,
nav,
section,
footer {
  display: block;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
  background-color: white;
}
header div#header #header-logo img {
  cursor: pointer;
}
@media (min-width: 400px) and (max-width: 768px) {
  header div#header #header-logo img {
    height: 40px;
    width: 40px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 400px) {
  header div#header #header-logo img {
    height: 30px;
    width: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  header div#header #header-logo img {
    height: 50px;
    width: 50px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
header div#header a.nav-link {
  font-size: 24px;
  color: #00acc1;
  letter-spacing: 0.28px;
  text-align: center;
  margin-left: 40px;
}
@media (max-width: 884px) {
  header div#header a.nav-link {
    margin-left: 0;
  }
}
header div#header a.nav-link.active {
  background-color: transparent !important;
  color: #1565c0;
  font-weight: bold !important;
}
header div#header .navbar-toggler {
  border: none !important;
}
header div#header .navbar-toggler:focus {
  box-shadow: none !important;
}
header div#header .navbar-toggler i {
  font-size: 30px;
  color: #00acc1;
}
@media (max-width: 440px) {
  header div#header .navbar-toggler i {
    font-size: 25px;
  }
}

#banner {
  height: 100vh;
  width: 100vw;
  background: url("/public/images/bg-home-2.png") no-repeat;
  background-size: cover;
}
#banner div#banner-content h1 {
  font-size: 64px;
  color: #1565c0;
  font-weight: bold;
  letter-spacing: 0.76px;
  text-align: left;
}
#banner div#banner-content p {
  padding: 28px 0 70px 0;
  font-size: 18px;
  font-weight: 500;
  color: #1565c0;
  letter-spacing: 0.21px;
  line-height: 30px;
  text-align: left;
}
#banner div#banner-content button {
  background-color: #00acc1;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  transition: all 1s;
}
#banner div#banner-content button:hover {
  background-color: #1565c0;
}
#banner div#banner-content button a {
  font-size: 1.5rem;
  letter-spacing: 0.28px;
  color: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  #banner div#banner-content h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 576px) {
  #banner div#banner-content {
    margin-left: 0;
  }
  #banner div#banner-content h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 360px) {
  #banner div#banner-content h1 {
    font-size: 30px !important;
  }
  #banner div#banner-content p {
    font-size: 16px !important;
    padding: 0;
    margin: 20px 0;
  }
  #banner div#banner-content button a {
    font-size: 18px;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  #banner div#banner-content h1 {
    clear: both;
    font-size: 35px;
    letter-spacing: normal;
    margin: 15px 0 0 0 !important;
  }
  #banner div#banner-content p {
    clear: both;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 25px;
    padding: 0;
    margin: 16px 0;
  }
  #banner div#banner-content button a {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  #banner {
    padding-left: 6.25rem;
  }
}

#services {
  margin: 6.25rem 0;
}
@media (min-height: 320px) and (max-height: 440px) {
  #services {
    margin: 3.125rem 0;
  }
}
#services #ser-items {
  text-align: center;
  margin: auto;
}
#services #ser-items img {
  width: 6.25rem;
  height: 6.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 768px) {
  #services #ser-items img {
    height: 50px;
    width: 50px;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  #services #ser-items img {
    width: 3.125rem;
    height: 3.125rem;
  }
}
#services #ser-items h1 {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 600;
  color: #1565c0;
  letter-spacing: 0.28px;
}
@media only screen and (max-width: 768px) {
  #services #ser-items h1 {
    font-size: 20px;
    margin: 10px 0;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  #services #ser-items h1 {
    font-size: 20px;
    margin: 6px 0;
  }
}
#services #ser-items #ser-items-content {
  text-align: justify;
  font-size: 1rem;
  color: #00acc1;
  font-weight: 500;
  letter-spacing: 0.19px;
  line-height: 22px;
}
@media (min-height: 320px) and (max-height: 440px) {
  #services #ser-items #ser-items-content {
    font-size: 14px;
  }
}
#services #ser-items #ser-items-content i {
  padding-left: 5px;
  color: #00acc1;
  font-size: 1.25rem;
}
@media (min-height: 320px) and (max-height: 440px) {
  #services #ser-items #ser-items-content i {
    font-size: 15px;
  }
}

#aboutus {
  margin: 6.25rem 0;
}
@media (min-height: 320px) and (max-height: 440px) {
  #aboutus {
    margin: 3.125rem 0;
  }
}
#aboutus #about-content {
  color: #1565c0;
  font-size: 1rem;
}
#aboutus #about-content p {
  padding: 0.3135rem 0;
  letter-spacing: 0.19px;
  line-height: 24px;
  text-align: left;
}
#aboutus #about-content #about-content-sm1,
#aboutus #about-content #about-content-sm2 {
  text-align: justify;
  font-size: 1rem;
  color: #00acc1;
  font-weight: 500;
  letter-spacing: 0.19px;
  line-height: 22px;
}
@media (min-height: 320px) and (max-height: 440px) {
  #aboutus #about-content #about-content-md {
    display: none !important;
  }
  #aboutus #about-content #about-content-sm2 {
    display: block !important;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  #aboutus #about-image {
    display: none !important;
  }
}

#profile {
  margin: 6.25rem 0;
}
@media (min-height: 320px) and (max-height: 440px) {
  #profile {
    margin: 3.125rem 0;
  }
}

#dotsCarousel {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #00acc1;
}

.ant-timeline .ant-timeline-item {
  padding-bottom: 50px !important;
}

.ant-carousel-vertical .slick-dots-right {
  inset-inline-end: 35px !important;
}
.ant-carousel-vertical .slick-dots li button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #0097b2;
}
.ant-carousel-vertical .slick-dots li.slick-active button {
  width: 20px !important;
  height: 20px !important;
  border-radius: 100%;
  background-color: #0097b2;
}

#contentTimeline {
  height: auto !important;
  line-height: 600px;
}
#contentTimeline p {
  margin: 0 30px;
  font-size: 18px;
  color: #1565c0;
}
#contentTimeline img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 992px) {
  .contentCollapse {
    display: none !important;
  }
}
.contentCollapse .ant-collapse-content {
  color: #6c6c6c !important;
  background-color: transparent !important;
  font-size: 16px !important;
}
.contentCollapse .ant-collapse-header {
  align-items: center !important;
  padding: 10px !important;
  transition: all 1s;
}
.contentCollapse .ant-collapse-header:hover {
  background-color: #00acc1 !important;
}
.contentCollapse .ant-collapse-header .ant-collapse-header-text p {
  height: 100%;
  font-size: 18px !important;
  color: #00acc1 !important;
  transition: all 1s;
}
.contentCollapse .ant-collapse-header .ant-collapse-header-text p:hover {
  color: #ffffff !important;
}
.contentCollapse .ant-collapse-header img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

#resources {
  margin: 6.25rem 0;
}
@media (min-height: 320px) and (max-height: 440px) {
  #resources {
    margin: 3.125rem 0;
  }
}
#resources ul.nav.nav-pills {
  justify-content: center;
}
#resources button.nav-link {
  border-radius: 0;
  border: 1px solid #1565c0;
  height: 60px;
  font-size: 14px !important;
  font-weight: 700;
  color: #1565c0;
  letter-spacing: 0.16px;
  text-align: center;
  transition: all 1s;
}
#resources button.nav-link:hover {
  color: #ffffff;
  background-color: #1565c0;
}
@media (max-width: 440px) {
  #resources button.nav-link {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  #resources button.nav-link {
    height: -moz-fit-content;
    height: fit-content;
  }
  #resources button.nav-link span {
    display: none !important;
  }
  #resources button.nav-link i {
    display: block !important;
  }
}
#resources button.nav-link.active {
  color: #ffffff;
  background-color: #1565c0;
}
#resources #dowload a {
  font-size: 16px;
  font-weight: 600;
  color: #00acc1;
  cursor: pointer;
  transition: all 1s;
}
#resources #dowload a:hover {
  color: #1565c0;
}

.accordion {
  background-color: transparent !important;
}
.accordion .accordion-item {
  background: transparent !important;
  border: none !important;
}
.accordion .accordion-item:first-of-type {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.accordion .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.accordion .accordion-item .accordion-button {
  font-size: 20px !important;
  color: #00acc1 !important;
  letter-spacing: 0.23px;
  text-align: left;
  transition: all 0.5s;
  background-color: transparent !important;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #00acc1 !important;
  color: #ffffff !important;
}
.accordion .accordion-item .accordion-button:hover {
  background-color: #00acc1 !important;
  color: #ffffff !important;
}
.accordion .accordion-item .accordion-body {
  line-height: 30px;
  text-align: justify;
  color: #6c6c6c !important;
  font-size: 16px !important;
  padding: 20px !important;
}
@media (max-width: 440px) {
  .accordion .accordion-item .accordion-button {
    font-size: 16px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .accordion .accordion-item .accordion-body {
    font-size: 14px !important;
    padding-left: 5px !important;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  .accordion .accordion-item .accordion-button {
    font-size: 18px !important;
    padding: 10px !important;
  }
  .accordion .accordion-item .accordion-body {
    font-size: 16px !important;
    padding-left: 5px !important;
  }
}

#contact {
  margin: 6.25rem 0;
}
@media (min-height: 320px) and (max-height: 440px) {
  #contact {
    margin: 3.125rem 0;
  }
}
#contact #contact-form label {
  color: #1565c0;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact #contact-form .ant-input {
  color: #00acc1 !important;
  font-size: 18px !important;
}
#contact #contact-form .ant-input-outlined {
  border: 4px solid #1565c0 !important;
  border-radius: 10px !important;
}
#contact #contact-form .ant-select-selector {
  font-size: 18px !important;
  color: #00acc1 !important;
  border: 4px solid #1565c0 !important;
  border-radius: 10px !important;
}
#contact #contact-form button {
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 20px;
  letter-spacing: 0.23px;
  text-align: center;
}
@media (max-width: 430px) {
  #contact #contact-form label {
    font-size: 18px;
  }
  #contact #contact-form .ant-input {
    font-size: 15px !important;
  }
  #contact #contact-form .ant-input-outlined {
    border: 3px solid #1565c0 !important;
  }
  #contact #contact-form .ant-select-selector {
    font-size: 15px !important;
    border: 3px solid #1565c0 !important;
  }
  #contact #contact-form button {
    font-size: 18px;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  #contact #contact-form label {
    font-size: 18px;
  }
  #contact #contact-form .ant-input {
    font-size: 15px !important;
  }
  #contact #contact-form .ant-input-outlined {
    border: 3px solid #1565c0 !important;
  }
  #contact #contact-form .ant-select-selector {
    font-size: 15px !important;
    border: 3px solid #1565c0 !important;
  }
  #contact #contact-form button {
    font-size: 18px;
  }
}
#contact #contactMap iframe {
  height: 50%;
}
@media (max-width: 430px) {
  #contact #contactMap iframe {
    height: 35%;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  #contact #contactMap #contactLocation {
    margin-bottom: 3.125rem;
  }
}
#contact #contactMap #contactLocation #itemContactLocation {
  cursor: pointer;
}
#contact #contactMap #contactLocation #itemContactLocation h1 {
  clear: both;
  margin: 20px 0 !important;
  font-size: 24px;
  font-weight: 700;
  color: #1565c0;
  letter-spacing: 0.28px;
  text-align: left;
}
#contact #contactMap #contactLocation #itemContactLocation p {
  font-weight: 500;
  font-size: 18px;
  color: #1565c0;
  letter-spacing: 0.21px;
  text-align: left;
}
@media (max-width: 430px) {
  #contact #contactMap #contactLocation #itemContactLocation h1 {
    font-size: 20px;
  }
  #contact #contactMap #contactLocation #itemContactLocation p {
    font-size: 16px;
  }
}
@media (min-height: 320px) and (max-height: 440px) {
  #contact #contactMap #contactLocation #itemContactLocation h1 {
    font-size: 18px;
    margin: 10px 0 !important;
  }
  #contact #contactMap #contactLocation #itemContactLocation p {
    font-size: 16px;
  }
}

footer {
  clear: both;
  background-color: #00acc1;
}
footer section:first-child {
  background-color: #1565c0;
}/*# sourceMappingURL=index.css.map */