/** @format */
$color-blue1: #1565c0;
$color-blue2: #00acc1;
$color-blue3: #0097b2;
$color-white: #ffffff;
$color-gray: #6c6c6c;
$height-full-screen: 100vh;
$spacing-100: 6.25rem; //100px
$spacing-50: 3.125rem; //50px

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
p {
  margin-bottom: 0;
}
.title {
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 2px !important;
  color: $color-blue2;
  font-size: 48px;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 30px;
    margin-bottom: 40px !important;
  }
  @media (min-height: 320px) and (max-height: 440px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
body {
  font-size: 1.125rem !important; // 18px
  background: url("/public/images/bg-content.png") repeat;
  background-size: contain;
}

header,
nav,
section,
footer {
  display: block;
}
// start header
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
  background-color: white;
  div#header {
    #header-logo img {
      cursor: pointer;
      @media (min-width: 400px) and (max-width: 768px) {
        height: 40px;
        width: 40px;
        object-fit: contain;
      }
      @media (max-width: 400px) {
        height: 30px;
        width: 30px;
        object-fit: contain;
      }
      @media (min-height: 320px) and (max-height: 440px) {
        height: 50px;
        width: 50px;
        object-fit: contain;
      }
    }
    a.nav-link {
      font-size: 24px;
      color: $color-blue2;
      letter-spacing: 0.28px;
      text-align: center;
      margin-left: 40px;
      @media (max-width: 884px) {
        margin-left: 0;
      }
    }
    a.nav-link.active {
      background-color: transparent !important;
      color: $color-blue1;
      font-weight: bold !important;
    }
    .navbar-toggler {
      border: none !important;
      &:focus {
        box-shadow: none !important;
      }
      i {
        font-size: 30px;
        color: $color-blue2;
        @media (max-width: 440px) {
          font-size: 25px;
        }
      }
    }
  }
}

// end header

// start banner home page
#banner {
  height: $height-full-screen;
  width: 100vw;
  background: url("/public/images/bg-home-2.png") no-repeat;
  background-size: cover;
  div#banner-content {
    h1 {
      font-size: 64px;
      color: $color-blue1;
      font-weight: bold;
      letter-spacing: 0.76px;
      text-align: left;
    }
    p {
      padding: 28px 0 70px 0;
      font-size: 18px;
      font-weight: 500;
      color: $color-blue1;
      letter-spacing: 0.21px;
      line-height: 30px;
      text-align: left;
    }
    button {
      background-color: $color-blue2;
      border-radius: 10px;
      border: none;
      padding: 10px 20px;
      transition: all 1s;
      &:hover {
        background-color: $color-blue1;
      }
      a {
        font-size: 1.5rem; // 24px
        letter-spacing: 0.28px;
        color: $color-white;
        text-align: center;
      }
    }
    @media only screen and (max-width: 992px) {
      h1 {
        font-size: 50px;
      }
    }
    @media only screen and (max-width: 576px) {
      margin-left: 0;
      h1 {
        font-size: 40px;
      }
    }
    @media only screen and (max-width: 360px) {
      h1 {
        font-size: 30px !important;
      }
      p {
        font-size: 16px !important;
        padding: 0;
        margin: 20px 0;
      }
      button {
        a {
          font-size: 18px;
        }
      }
    }
    @media (min-height: 320px) and (max-height: 440px) {
      h1 {
        clear: both;
        font-size: 35px;
        letter-spacing: normal;
        margin: 15px 0 0 0 !important;
      }
      p {
        clear: both;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 25px;
        padding: 0;
        margin: 16px 0;
      }
      button {
        a {
          font-size: 18px;
        }
      }
    }
  }
  @media only screen and (min-width: 992px) {
    padding-left: $spacing-100;
  }
}
// end banner home page

// start Services home page
#services {
  margin: $spacing-100 0;
  @media (min-height: 320px) and (max-height: 440px) {
    margin: $spacing-50 0;
  }
  #ser-items {
    text-align: center;
    margin: auto;
    img {
      width: 6.25rem; // 100px
      height: 6.25rem;
      object-fit: contain;
      @media only screen and (max-width: 768px) {
        height: 50px;
        width: 50px;
      }
      @media (min-height: 320px) and (max-height: 440px) {
        width: $spacing-50;
        height: $spacing-50;
      }
    }
    h1 {
      margin: 30px 0;
      font-size: 24px;
      font-weight: 600;
      color: $color-blue1;
      letter-spacing: 0.28px;
      @media only screen and (max-width: 768px) {
        font-size: 20px;
        margin: 10px 0;
      }
      @media (min-height: 320px) and (max-height: 440px) {
        font-size: 20px;
        margin: 6px 0;
      }
    }
    #ser-items-content {
      text-align: justify;
      font-size: 1rem; // 16px;
      color: $color-blue2;
      font-weight: 500;
      letter-spacing: 0.19px;
      line-height: 22px;
      @media (min-height: 320px) and (max-height: 440px) {
        font-size: 14px;
      }
      i {
        padding-left: 5px;
        color: $color-blue2;
        font-size: 1.25rem; // 20px
        @media (min-height: 320px) and (max-height: 440px) {
          font-size: 15px;
        }
      }
    }
  }
}
// end mobile Service home page

// start about and profile home page
// start about
#aboutus {
  margin: $spacing-100 0;
  @media (min-height: 320px) and (max-height: 440px) {
    margin: $spacing-50 0;
  }
  #about-content {
    color: $color-blue1;
    font-size: 1rem; // 16px
    p {
      padding: 0.3135rem 0; // 5px
      letter-spacing: 0.19px;
      line-height: 24px;
      text-align: left;
    }
    #about-content-sm1,
    #about-content-sm2 {
      text-align: justify;
      font-size: 1rem; // 16px;
      color: $color-blue2;
      font-weight: 500;
      letter-spacing: 0.19px;
      line-height: 22px;
    }
    @media (min-height: 320px) and (max-height: 440px) {
      #about-content-md {
        display: none !important;
      }
      #about-content-sm2 {
        display: block !important;
      }
    }
  }
  #about-image {
    @media (min-height: 320px) and (max-height: 440px) {
      display: none !important;
    }
  }
}
// end about

// start profile
#profile {
  margin: $spacing-100 0;
  @media (min-height: 320px) and (max-height: 440px) {
    margin: $spacing-50 0;
  }
}

// start timeline

#dotsCarousel {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: $color-blue2;
}
.ant-timeline .ant-timeline-item {
  padding-bottom: 50px !important;
}
.ant-carousel-vertical {
  .slick-dots-right {
    inset-inline-end: 35px !important;
  }
  .slick-dots {
    li {
      button {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: $color-blue3;
      }
    }
    li.slick-active {
      button {
        width: 20px !important;
        height: 20px !important;
        border-radius: 100%;
        background-color: $color-blue3;
      }
    }
  }
}
#contentTimeline {
  // margin: 50px 0 100px 0;
  height: auto !important;
  line-height: 600px;
  p {
    margin: 0 30px;
    font-size: 18px;
    color: $color-blue1;
  }
  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}
.contentCollapse {
  @media (min-width: 992px) {
    display: none !important;
  }
  .ant-collapse-content {
    color: $color-gray !important;
    background-color: transparent !important;
    font-size: 16px !important;
  }
  .ant-collapse-header {
    align-items: center !important;
    padding: 10px !important;
    transition: all 1s;
    &:hover {
      background-color: $color-blue2 !important;
    }
    .ant-collapse-header-text {
      p {
        height: 100%;
        font-size: 18px !important;
        color: $color-blue2 !important;
        transition: all 1s;
        &:hover {
          color: $color-white !important;
        }
      }
    }
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }
}

// end timeline

// end profile

// end about and profile home page

// start resources
#resources {
  margin: $spacing-100 0;
  @media (min-height: 320px) and (max-height: 440px) {
    margin: $spacing-50 0;
  }
  ul.nav.nav-pills {
    justify-content: center;
  }
  button.nav-link {
    border-radius: 0;
    border: 1px solid $color-blue1;
    height: 60px;
    font-size: 14px !important;
    font-weight: 700;
    color: $color-blue1;
    letter-spacing: 0.16px;
    text-align: center;
    transition: all 1s;
    &:hover {
      color: $color-white;
      background-color: $color-blue1;
    }
    @media (max-width: 440px) {
      height: fit-content;
    }
    @media (min-height: 320px) and (max-height: 440px) {
      height: fit-content;
      span {
        display: none !important;
      }
      i {
        display: block !important;
      }
    }
  }
  button.nav-link.active {
    color: $color-white;
    background-color: $color-blue1;
  }
  #dowload {
    a {
      font-size: 16px;
      font-weight: 600;
      color: $color-blue2;
      cursor: pointer;
      transition: all 1s;
      &:hover {
        color: $color-blue1;
      }
    }
  }
}
.accordion {
  background-color: transparent !important;
  .accordion-item {
    background: transparent !important;
    border: none !important;
    &:first-of-type {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      .accordion-button {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }
    }
    .accordion-button {
      font-size: 20px !important;
      color: $color-blue2 !important;
      letter-spacing: 0.23px;
      text-align: left;
      transition: all 0.5s;
      background-color: transparent !important;
      &:not(.collapsed) {
        background-color: $color-blue2 !important;
        color: $color-white !important;
      }
      &:hover {
        background-color: $color-blue2 !important;
        color: $color-white !important;
      }
    }
    .accordion-body {
      line-height: 30px;
      text-align: justify;
      color: $color-gray !important;
      font-size: 16px !important;
      padding: 20px !important;
    }
    @media (max-width: 440px) {
      .accordion-button {
        font-size: 16px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
      .accordion-body {
        font-size: 14px !important;
        padding-left: 5px !important;
      }
    }
    @media (min-height: 320px) and (max-height: 440px) {
      .accordion-button {
        font-size: 18px !important;
        padding: 10px !important;
      }
      .accordion-body {
        font-size: 16px !important;
        padding-left: 5px !important;
      }
    }
  }
}
// end resources
#contact {
  margin: $spacing-100 0;
  @media (min-height: 320px) and (max-height: 440px) {
    margin: $spacing-50 0;
  }
  #contact-form {
    label {
      color: $color-blue1;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .ant-input {
      color: $color-blue2 !important;
      font-size: 18px !important;
    }
    .ant-input-outlined {
      border: 4px solid $color-blue1 !important;
      border-radius: 10px !important;
    }
    .ant-select-selector {
      font-size: 18px !important;
      color: $color-blue2 !important;
      border: 4px solid $color-blue1 !important;
      border-radius: 10px !important;
    }
    button {
      border: none;
      border-radius: 20px;
      padding: 10px 30px;
      font-size: 20px;
      letter-spacing: 0.23px;
      text-align: center;
    }
    @media (max-width: 430px) {
      label {
        font-size: 18px;
      }
      .ant-input {
        font-size: 15px !important;
      }
      .ant-input-outlined {
        border: 3px solid $color-blue1 !important;
      }
      .ant-select-selector {
        font-size: 15px !important;
        border: 3px solid $color-blue1 !important;
      }
      button {
        font-size: 18px;
      }
    }
    @media (min-height: 320px) and (max-height: 440px) {
      label {
        font-size: 18px;
      }
      .ant-input {
        font-size: 15px !important;
      }
      .ant-input-outlined {
        border: 3px solid $color-blue1 !important;
      }
      .ant-select-selector {
        font-size: 15px !important;
        border: 3px solid $color-blue1 !important;
      }
      button {
        font-size: 18px;
      }
    }
  }
  #contactMap {
    iframe {
      height: 50%;
      @media (max-width: 430px) {
        height: 35%;
      }
    }
    #contactLocation {
      @media (min-height: 320px) and (max-height: 440px) {
        margin-bottom: $spacing-50;
      }
      #itemContactLocation {
        cursor: pointer;
        h1 {
          clear: both;
          margin: 20px 0 !important;
          font-size: 24px;
          font-weight: 700;
          color: $color-blue1;
          letter-spacing: 0.28px;
          text-align: left;
        }
        p {
          font-weight: 500;
          font-size: 18px;
          color: $color-blue1;
          letter-spacing: 0.21px;
          text-align: left;
        }
        @media (max-width: 430px) {
          h1 {
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
        }
        @media (min-height: 320px) and (max-height: 440px) {
          h1 {
            font-size: 18px;
            margin: 10px 0 !important;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
// start footer
footer {
  clear: both;
  // margin-top: $spacing-100;
  background-color: $color-blue2;
  section {
    &:first-child {
      background-color: $color-blue1;
    }
  }
}
// end footer
